################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GoogleInterviewApp/.vs/GoogleInterviewApp
/backup/GoogleInterviewApp/Tutorial/Book/DataStructuresAndAlgorithms_Python/DataStructures/LinkedLists/PositionalList/__pycache__
/backup/GoogleInterviewApp/Tutorial/Book/DataStructuresAndAlgorithms_Python/DataStructures/LinkedLists/__pycache__
/backup/GoogleInterviewApp/GoogleInterviewApp.pyproj.user
